@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@* <h1 class="text-danger">@Model.StatusCode</h1> *@
<h2 class="text-danger">@Model.Message</h2>

<a asp-action="Index" class="mt-3 fs-5">Return</a>




